/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Blog
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Crete Round', serif;
}

#footer {
  color: gray;
}

.panel h3 {
  font-size: 1.2em;
}

#tweet, #tweet p {
  font-size: 0.9em;
}
#tweet .status {
  margin-bottom: 0.2em;
}
#tweet .meta {
  font-size: 0.9em;
  text-align: right;
}

/* -----------------------------------------
   Blog
----------------------------------------- */
.post h3 {
  margin-bottom: 0;
}

.post .meta {
  font-size: 0.9em;
  color: gray;
  margin-bottom: 1em;
}

.post .meta .date {
  float: right;
}
