<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ page.title | capitalize }} / Dave Long</title>

  <!-- Included CSS Files -->
  <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ 'all.css' | asset_url }}">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ 'stylesheets/ie.css' | asset_url }}">
  <![endif]-->

  <script src="{{ 'javascripts/modernizr.foundation.js' | asset_url }}"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11807066-5']);
    _gaq.push(['_setDomainName', 'davejlong.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="header">
    <div class="row">
      <div class="twelve columns">
        <h1><a id="brand" href="/">Dave Long</a></h1>
        <hr />
      </div>
    </div>
  </div>
  <div id="content">{{ content }}</div>

  <div id="footer">
    <div class="row">
      <div class="twelve columns">
        <hr />
        <p>&copy; 2012 Dave Long. All content licensed under Creative Commons Share-Alike</p>
      </div>
    </div>
  </div>

  <!-- Included JS Files -->
  <script src="{{ 'app.js' | asset_url }}"></script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5010a0ad613f5d2bcc00003a');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
